<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form
    [formGroup]="loginForm"
    (submit)="onLogin()"
    *ngIf="!isLoading">
    <mat-form-field>
      <input
      matInput
      type="email"
      placeholder="Enter your email address"
      formControlName="email"
      >
      <mat-error *ngIf="loginForm.get('email').invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
      matInput
      placeholder="Enter your password"
      type="password"
      formControlName="password"
      >
      <mat-error *ngIf="loginForm.get('password').invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <button
      [disabled]="!this.loginForm.valid || isLoading"
      mat-raised-button
      color="accent"
      type="submit"
      *ngIf="!isLoading">Login</button>
  </form>
</mat-card>
