:root {

  // Typography
  --base-font-size: 1.4rem;
  --h2-size: calc(var(--base-font-size) * 2.3);

  // COLORS
  --white: hsla(0, 0%, 100%, 1);        // #ffffff
  --white-2: hsla(0, 0%, 98%, 1);      // #f4f4f4
  --white-3: hsla(0, 0%, 90%, 1);

  --black: hsla(0, 0%, 0%, 1);              // #000000
  --black-02: hsla(0, 0%, 8%, 1);
  --black-03: hsla(210, 50%, 8%, 1);
  --shadow-black: hsla(0, 0%, 0%, 0.3);

  --blue-light: hsla(215, 90%, 80%, .1);
  --blue-primary: hsla(246, 82%, 39%, 1);
  --blue-dark: hsla(246, 91%, 25%, 1);

  --gray-light: hsla(222, 0%, 87%, 1);
  --gray-medium: hsla(222, 0%, 61%, 1);
  --gray-dark: hsla(222, 0%, 35%, 1);

  --green-light: hsla(128, 50%, 60%, 1);

  --invalid-primary: hsla(0, 100%, 50%, 1);

  --primary-light: hsla(227, 67%, 76%, 1);
  --primary-medium: hsla(223, 22%, 43%, 1);
  --primary-dark: hsla(216, 7%, 15%, 1);

  --back-gradient: linear-gradient(to right bottom, var(--primary-light), var(--primary-medium), var(--primary-dark));
  --name-gradient: linear-gradient(to right, var(--primary-light), var(--primary-medium), var(--primary-dark));
}

// COLORS
$color-primary: #55c57a;
$color-primary-light: rgb(126, 213, 111);
$color-primary-dark: rgb(40, 180, 133);

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-blue: rgb(35, 18, 182);
$color-black: #000;
$color-white: #fff;

// FONT
$default-font-size: 1.6rem;

