<div class="post">
  <div class="post__header">
    <strong class="post__header-user">{{ post.creator }}</strong>
    <div class="post__header-meta">
      <div>{{ post.created_at | date: 'h:mm aa' }}</div>
      <div>{{ post.created_at | date: 'MM/dd/yyyy' }}</div>
    </div>
  </div>
  <div class="post__content">  <!-- Post content section -->
    <span>
      {{ post.post }}
      <div class="action" *ngIf="userIsAuthenticated && userId === post.creatorId">
        <!-- TODO - Replace mat-buttons -->
        <button mat-button color="warn" (click)="onDelete(post.id)">Delete</button>
      </div>
    </span>
  </div>  <!-- Post content section -->
  <div class="comments">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          {{post.comments.length}} Comments
        </mat-expansion-panel-header>
        <div *ngIf="post.comments.length > 0 && !isLoading">
          <comment
            *ngFor="let comment of post.comments; let i = index"
            [comment]="comment"
            [userIsAuthenticated]="userIsAuthenticated"
            [userId]="userId"
            [cIdx]="i"
            (deleteEvent)="onDeleteComment($event)"
            class="comments">
          </comment>
        </div>
        <div class="comment__form">
          <form [formGroup]="createCommentForm" role="comment form">
            <div class="form__group">
                <textarea
                name="comment"
                aria-label="comment input"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                class="form__textarea"
                placeholder="Share a comment with {{ post.creator }}"
                formControlName="comment"
                required
                ></textarea>
                <label for="comment" class="form__label">Share a comment</label>
              <div class="forms__button-group" *ngIf="userIsAuthenticated && createCommentForm.get('comment').dirty">
                <button
                  [disabled]="!this.createCommentForm.valid"
                  class="btn btn--green"
                  (click)="postComment(post.id)"
                  type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
    </mat-expansion-panel>  <!-- End Comments list -->
  </div>
</div>
