<mat-card>
  <form [formGroup]="createPostForm" (submit)="onSavePost()" class="forms__post">
    <mat-form-field>
      <textarea
        matInput
        class="post-textarea"
        placeholder="Post your thoughts here..."
        formControlName="post"
        ></textarea>
        <mat-error *ngIf="createPostForm.get('post').invalid && (createPostForm.get('post').dirty || createPostForm.get('post').touched)">Posts field cannot be empty.</mat-error>
    </mat-form-field>
    <button
      [disabled]="!this.createPostForm.valid"
      mat-raised-button
      color="accent"
      class="forms__post-btn"
      type="submit">Save Post</button>
  </form>
</mat-card>
