<section class="post__form">
  <form [formGroup]="createPostForm" (submit)="onSavePost()">
    <div class="form__group">
      <textarea
        name="post"
        id=""
        cols="30"
        rows="2"
        class="form__textarea"
        placeholder="Post your thoughts here..."
        formControlName="post"
        required
      ></textarea>
      <label for="post" class="form__label">Post your thoughts here...</label>
      <button
        [disabled]="!this.createPostForm.valid"
        [ngClass]="{ 'btn--green': this.createPostForm.valid, 'btn--disabled': !this.createPostForm.valid }"
        class="btn btn--green"
        type="submit">Save Post</button>
    </div>
  </form>
</section>
