.post {
  min-width: 32.5rem;
  max-width: 60ch;
  margin-top: 1rem;
  border: 1px solid var(--shadow-black);
  border-radius: .5rem;
  padding: 1rem;
  background: var(--white);

  &__header {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-user {
      color: var(--blue-dark);
      min-width: min-content;
      margin-right: 2rem;
      flex: 3;
    }

    &-meta {
      min-width: 15rem;

      display: flex;
      justify-content: space-between;
      flex: 1;
    }
  }

  &__content {
    padding: 1.5rem 2.5rem;
  }
}

.comments {
  margin: 1rem;

  &__item {
    padding: 0.5rem;
    border-top: 1px solid var(--gray-medium);

    display: flex;
    flex-direction: column;

    &-header {
      padding: 0.5rem 1.5rem;
      display: flex;
      flex-direction: column;
    }

    &-user {
      color: var(--blue-dark);
    }

    &-meta {
      display: flex;
      justify-content: space-between;
    }

    &-text {
      background-color: var(--blue-light);
      border-radius: 1rem;
      padding: 0.5rem 1.5rem;
      flex: 100;
      min-width: 15rem;
    }
  }
}
