<mat-accordion *ngIf="posts.length > 0">
  <div class="post" *ngFor="let post of posts">
    <div class=" post post__header">
      <span>{{ post.username }}</span>
      <span>{{ post.createdAt | date: 'MM/dd/yyyy' }}</span>
      <span>{{ post.createdAt | date: 'h:mm aa' }}</span>
    </div>
    <div class=" post post__content">
      <span>
        {{ post.post }}
        <mat-action-row>
          <button mat-button color="warn">Delete</button>
        </mat-action-row>
      </span>
    </div>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Add a Comment
      </mat-expansion-panel-header>
      Expansion content
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="panel">
        Comments
      </mat-expansion-panel-header>
      List of comments here
    </mat-expansion-panel>
  </div>
</mat-accordion>
