<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
  <div class="post" *ngFor="let post of posts; let i = index">
    <div class="post__header">
      <span>{{ post.creator }}</span>
      <span>{{ post.created_at | date: 'MM/dd/yyyy' }}</span>
      <span>{{ post.created_at | date: 'h:mm aa' }}</span>
    </div>
    <div class="post__content">  <!-- Post content section -->
      <span>
        {{ post.post }}
        <mat-action-row *ngIf="userIsAuthenticated && userId === post.creatorId">
          <button mat-button color="warn" (click)="onDelete(post.id)">Delete</button>
        </mat-action-row>
      </span>
    </div>  <!-- Post content section -->

    <mat-expansion-panel>  <!-- Comments list    *ngIf="post.comments.length > 0" -->
        <mat-expansion-panel-header>
            Comments
          </mat-expansion-panel-header>
          <div>
            <form [formGroup]="createCommentForm">
              <textarea matInput name="comment" formControlName="comment" placeholder="Share a comment"class="enter-comment"></textarea>
              <div class="forms__button-group" *ngIf="userIsAuthenticated">
                <button mat-raised-button color="primary" type="button" class="btn" (click)="postComment(post.id)">Submit</button>
                <button mat-raised-button color="accent" type="button" class="btn" (click)="cancelSubmit()" [disabled]="!this.createCommentForm.valid">Clear</button>
              </div>
            </form>
          </div>
      <ul class="comments">
        <li class="comments__item" *ngFor="let comment of post.comments; let i = index">
          <div><strong class="person">{{ comment.commentator }}</strong> {{ comment.createdAt | date: 'h:mm aa' }}</div>
          <div>{{ comment.comment }}</div>
        </li>
      </ul>
    </mat-expansion-panel>  <!-- End Comments list -->

  </div>
</mat-accordion>
<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="posts.length > 0 && !isLoading"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No posts added yet</p>
